.page {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  color: #FFFFFF;
  &, a {
    cursor: url('../images/icons/cursor-mouse-mice-white-black.svg'), auto;
  }

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
    background-color: black;
    min-width: 320px;
  }
  
  &__menu {
    &, a {
      cursor: url('../images/icons/cursor-mouse-mice-black.svg'), auto;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0%);
      pointer-events: all;
    }
  }
}
